{% extends "base.html" %}
{% block body %}

<!-- About Us Content -->
<div class="content-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/static/aa.jpg" alt="Our Story" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>Our Story</h2>
                <p>
                    Freshness Restaurant has been serving delicious food with a commitment to quality and customer satisfaction since its inception. Located in Kondotty, we pride ourselves on offering a delightful menu that blends local flavors with international flair. From the finest Chicken Biriyani to fresh Strawberry Shakes, our dishes are crafted with love and care to give you an unforgettable dining experience.
                </p>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 order-md-2">
                <img src="static/ab3.jpg" alt="Our Mission" class="img-fluid">
            </div>
            <div class="col-md-6 order-md-1">
                <h2>Our Mission</h2>
                <p>
                    At Freshness Restaurant, our mission is to provide a welcoming atmosphere where friends and families can gather to enjoy fresh, flavorful meals. We believe in using the best ingredients and traditional cooking methods to ensure our food is always top-notch.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}


